@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Orbitron', sans-serif;
}

.border-neon {
  box-shadow:
    0 0 0 #00bfff,
    0 0 0 #00bfff,
    0 0 15px #00bfff,
    0 0 15px #00d4ff,
    0 0 10px #00d4ff,
    0 0 10px #00d4ff,
    0 0 10px #00d4ff,
    0 0 10px #00d4ff;
}

.clip-path-circle {
  clip-path: circle(100%);
}
.clip-path-closed {
  clip-path: circle(0%);
}








